 /*  red color --            #E40C2B  
    black color --           #1D1D2C
    white color --           #F7F4E9
    light green color --     #3CBCC3
    yellow color --          #EBA63F
    dark green color   --    #438945
 */
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family:Arial, Helvetica, sans-serif;
 }
 body{
    padding: 1%;
 }
 header{
     width: 100%;
     position:absolutes;
     

 }
 .head{
     /* position: fixed; */
     color: #F7F4E9;
     direction: rtl;
     padding: 40px;
     background-color: #1D1D2C;
    
 }
 ul li{
     display: inline-block;
     
 }
 ul li a{
     text-decoration: none;
     color: #F7F4E9;
     font-size: 20px;
     background-color: #E40C2B;
     padding: 10px 40px;
     border-radius: 10px;
     
 }
ul li a:hover{
    background-color: #438945;
    transition: background-color 0.5s;
    padding: 9px 40px;
    box-shadow: 2px 4px rgba(161, 177, 18, 0.8);
   
}
.backimg{
    /* background-image: url("../../vendors/img/head-bg.jpg"); */
    background-image: url("../../vendors/icon/backimg.svg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    width: 100%;
    height: 70vh;
    border-right:3px solid #E40C2B;
    border-left:3px solid #E40C2B;
    position: relative;

}
.backimg h1{
    background-color: #099299;
    opacity: 0.8;
    color: #F7F4E9;
    padding: 30px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    direction: rtl;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}
.section-group{
    background-color: #c4c2c3da;
    padding-left: 1%;
    padding-right: 1%;
}
.span-1-of-4{
    background-color: #EBA63F;
    padding: 60px;
    color: #F7F4E9;
    text-align: center;
    border-radius: 10px;
    text-align: center;
}
.span-1-of-4 h2{
    border-bottom: 2px solid #c0beb7;
    padding-top: 3px;
    padding-bottom: 3px;
    
}
.span-1-of-4:hover{
    background-color: #438945;
    transition:background-color 0.5s;
}
.span-1-of-4 img{
    width: 100px;
    height: 100px;
}
.span-1-of-4 p{
    padding-top: 15px;
    font-weight: 400;
    font-size: 24px;
}